{% extends "base.html" %}
{% load widget_tweaks %}

{% load i18n %}
   {% block sidenav %}{% endblock %}
   {% block extraheadbottom %}
<style>
	@media (min-width: 768px) {
		#page-wrapper {
		    border-left: none;
		    margin: 0;
		}
}
</style>
<link href="{{STATIC_URL}}js/select2/select2.css" rel="stylesheet">
<link href="{{STATIC_URL}}js/select2/select2-bootstrap.css" rel="stylesheet">
{% endblock %}

       {% block contentplaceholder %}
       <div class="container">
       <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Select Institution</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                	<div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-building-o"></i> Select Institution
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                        	<div class="alert alert-info">Excellent! You are a step away from joining the service. Select your institution from the dropdown list.</div>
						<form method="POST" class="form-horizontal"	action="{% url selectinst %}">
							{% csrf_token %} {% if form.non_field_errors %}
							<p class="error">{{ form.non_field_errors}}</p>
							{% endif %}
							<div style="display: none">{{form.user}}</div>
							<div class="form-group {% if form.peers.errors %} has-error {% endif %}">
								<label class="col-md-2 control-label" for="id_peer"><b>{% trans "Institution" %}</b></label>
								<div class="col-md-8">
		            				{% render_field form.peers class+="form-control"  %}
		            				{% if form.peers.errors %} <span class="help-block"> {{ form.peers.errors|join:", " }} </span>
		           					 {% endif %}
		       					 </div>
							</div>

							<div class="form-group">
			 	<div class="col-md-2"></div>
			 	 <div class="col-md-8">
			<button type="submit" id="applybutton" value="{% trans 'Apply' %}" class="btn btn-md btn-primary">Apply</button>
				</div>
			</div>

            			</div>
            			</div>
            			</div>
            			</div>
</div>

	{% endblock %}




{% block pagejsbottom %}
	<script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.js"></script>
	<script>
		$(document).ready( function(){
			$('#id_peers').select2();
		});
	</script>
{% endblock %}
