body {
    font-size: 13px;
    background-image: url("/fodstatic/img/bg2.gif");
    background-attachment: fixed;
    background-color: #131516;
    background-position: left 40px;
    background-repeat: repeat;
}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
}
label, input, button, select, textarea {
    font-size: 13px;
}
legend {

    font-size: 14px;
	line-height: 20px;
    margin-bottom: 0;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
legend + .control-group {
    margin-top: 10px;
}
.side-menu > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.breadcrumb{
	background-color: white;
}
.ui-widget {
    font-size: 12px;
}
hr {
    margin: 0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: 13px;
}
.side-menu > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.btn {
    font-size: 13px;
}

.navbar .nav > li > span {
	display: block;
    float: none;
    padding: 10px 1px;
    text-shadow: 0 1px 0 #FFFFFF;
}

#content.container{
	border: 1px solid grey; 
	padding: 90px 10px 10px; 
	background: white;"
}
#routes_table{
	font-size: 12px;	
}

#page_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 1em;
}

.errorlist li {
    color: #B94A48;
    font-size: 12px !important;
    margin: 0 0 3px;
    padding: 4px 5px 4px 25px;
	list-style: none outside none;
}

.error{
	color: #B94A48;
}

#password_change_form label{
	display: block;
    float: left;
    padding: 3px 10px 0 0;
    width: 13em;
}

/*a {
    color: #4183C4;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
*/
#main {
    background: url("/fodstatic/background.png") repeat-x scroll 0 0 #FFFFFF;
    padding: 0;
    margin: 0;
}

#header {
    height: 85px;
    margin: 0 auto;
    width: 990px;
}

.logoimg {
    border: 0 none;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 172px;
}

#header .grnetlogo {
    left: 10px;
    top: 18px;
    position: relative;
}

.loginform {
    border-top: medium none;
    font-size: 13px;
    padding: 2px;
    float: right;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: url("/fodstatic/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border-color: #E9E9E9 #E9E9E9 #F5F5F5;
    border-style: solid;
    border-width: 1px;
	right: 10px;
    position: relative;
    top: -20px;

	

	
}

.topmenuuser{
	padding: 4px;
}

.topmenuaction{
	padding: 4px;
	background: url("/fodstatic/rule.png") no-repeat scroll 0 50% transparent;
}



#content3 {
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	background: #fafafa;
	 border: 2px solid #FFFFFF;
    -moz-border-radius: 10px 10px 10px 10px;
	border-raduis: 10px;
	-webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 3px #AAAAAA;
	-webkit-box-shadow: 0 0 3px #AAAAAA;
	box-shadow: 0 0 3px #AAAAAA;
    background-color: #F9F9F9;
	overflow: hidden;
	padding-bottom: 5px;
	padding-left: 5px;
	min-height: 200px;
}

#title, #title a {
	font-size: 18px;
	font-weight: bold;
	color: #656565;
	top: 25px;
	left: 50px;
	position: relative;
	width: 300px;	
}

#menu {
	height: 28px;
	padding-top: 5px;
}

#menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline;
}

#menu ul li {
	padding-left: 20px;
	display: inline;
}

#menu ul li a {
	color: white;
	text-decoration: none;
}

#menu ul li a:hover {
	font-weight: bold;
}

.conf_table ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline;
}

#footer {
	clear: both;
	padding-top: 1em;
	font-size: 0.9em;
	text-align: center;
}

#formcontent {
	padding: 2px;
	margin-bottom: 0;
}



#formcontent input {
	width: 6em;

}


#pagelist {
	text-align: center;
	font-weight: bold;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background: white;
	padding-left: 200px;
	width: 100%;
	padding-top: 0.5em;
	border-top: 1px solid #333;
}

#pagelist a {
	text-decoration: none;
	color: gray;
}

tr.even {
	background: #eaeaea;
}

span.highlighted {
	font-weight: bold;
	color: red;
}

form.update {
	text-align: center;
	display: none;
}
form.update textarea {
	width: 100%;
}

textarea#id_comments {
	/*width: 80%;*/
}

.hidden {
	display: none;
}

.center_text {
	text-align: center;
}

#searchform {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.info_content_title {
    background-color: #F0F0F0;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #D9D9D9;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0;
    padding: 5px 0 5px 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 100%;
}

.row_container{
	background-color: white;
	clear: both;
	overflow: auto;
	width: 988px;
	border: 1px solid black;
}
.row1{
	float: left;
	width: 300px;
}
.row1_content{
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: url("/fodstatic/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border-color: #E9E9E9 #E9E9E9 #F5F5F5;
    border-style: solid;
    border-width: 1px;
	padding: 4px;
	margin: 0 auto;
	width: 50%;
	position: relative;
	top: 20px;
}
.row2{
	float: left;
	width: 300px;
}
.row3{
	float: left;
	width: 300px;
}
.row1_table_content{
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: url("/fodstatic/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border-color: #E9E9E9 #E9E9E9 #F5F5F5;
    border-style: solid;
    border-width: 1px;
	padding: 3px;
	margin: 0 auto;
	text-align: left;

}
.actions_table{
	background-color: #FFF0DF;
	border-collapse: collapse;
	border: 1px solid #D9D9D9;
	float: right;
	margin: 5px;
	min-width: 330px;
	width: 100%;
}
.actions_table td{
	padding: 5px;
}
.instances_table{
	border-collapse: collapse;
	float: right;
	/*
margin: 1px;
*/
}
.instances_table td{
	border: 1px solid #D9D9D9;
	padding: 5px;
}
.instances_table th{
	border: 1px solid #D9D9D9;
	padding: 5px;
}
.instance_name{
	text-align: left;
}
#title a:hover{
	text-decoration: none;
}
.table_title{
	background: url("/fodstatic/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
}
.inner_table{
	border-collapse: collapse;
	width:100%;
	height:100%;
}
.inner_table_holder{
	padding: 0px !important;
}
.table_top_header{
	background: url("/fodstatic/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
}
.borderless{
	border: 0 none !important;
}
.inner_category{
	width: 35%;
	background: url("/fodstatic/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
	border-left: 0 none !important;
}
.no_brd_right{
	border-right: 0 none !important;
}
.no_brd_top{
	border-top: 0 none !important;
}
.no_brd_btm{
	border-bottom: 0 none !important;
}

#fl_l{
	float: left;
	width: 42%
}
#configuration {
	width: 58%;
	float: left;
	text-align: center;
}

#configuration form  {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

#configuration th {
	text-align: right;
}

#configuration td {
	text-align: left;
}

#configuration input[type="text"] {
	width: 22em;
}
.conf_table th{
	font-weight: normal;
	background-color: #ECECEC; /* fallback color if gradients are not supported */
	background: url("/fodstatic/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
	border-bottom: 1px solid #D9D9D9;
}
.conf_table{
	float: right;
	margin: 5px;
	border: 1px solid #D9D9D9;
	border-collapse: collapse;
	width: 100%;
}
.conf_table td{
	border-bottom: 1px solid #D9D9D9;
	
}
.conf_table .table_topper_header{
	font-weight: bold;
	background: url("/fodstatic/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;	
}
.instance_det_table{
	border-collapse: collapse;
	clear: both;
	width: 400px;
	margin: 5px;
}
.instance_det_table td{
	border: 1px solid #D9D9D9;
	padding: 5px;
}
.instance_det_table th{
	border: 1px solid #D9D9D9;
	padding: 5px;
}



#cluster_overview_table_wrapper{
	width: 100%;
}
/*
 * jQuery UI specific styling
 */

.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
}



.paging_full_numbers {
	width: 350px !important;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Everything below this line is the same as demo_table.css. This file is
 * required for 'cleanliness' of the markup
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('/fodstatic/img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/fodstatic/img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/fodstatic/img/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/fodstatic/img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/fodstatic/img/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}


/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}

#messages {
	position: relative;
	top: -21px;
	text-align: center;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	background-color: #d5ffd5;
	border-top: 1px solid #a5afa5;
	border-bottom: 1px solid #a5afa5;
}

#welcome {
	float: left;
	padding: 0.5em;
	width: 45%;
}



#loginform table {
	margin-left: auto;
	margin-right: auto;
}


#routes_table_filter{
	float: right;
}