{% load i18n %}
{% load widget_tweaks %}



    <form id="add_port_form" method="POST"  class="form-horizontal">
    {% csrf_token %}
		<div class="form-group {% if form.port.errors %} has-error {% endif %}">
		<div class="col-md-5">
		            {% render_field form.port class+="form-control" placeholder="Port number, eg. 8088" %}
		            {% if form.port.errors %} <span class="help-block"> {{ form.port.errors|join:", " }} </span>
		            {% endif %}
		        </div>
		        		<div class="col-md-4">
		        		<button class="btn-warning btn btn-md btn-outline" id="canceladdportbtn" type="button">{% trans "Cancel" %}</button>
		        		<button class="btn-success btn btn-md btn-outline" id="addportbtn" type="button">{% trans "Add" %}</button>
		        </div>
		</div>
    </form>

