{% load i18n %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#add_port_form").unbind('submit');
        $("#add_port_form").submit(function(){
            $("#port_diag").parents('.ui-dialog').first().find('.ui-button').first().click();
            return false;
        });
    });
</script>


    <form id="add_port_form" method="POST"  class="form-horizontal">
    {% csrf_token %}
		<div class="control-group {% if form.port.errors %} error {% endif %}">
		<label class="control-label" for="inputEmail">Port</label>
		<div class="control">{{ form.port }}
		{% if form.port.errors %}
		<span class="help-block">{{ form.port.errors|join:", " }}</span>
		{% endif %}
		</div>
		</div>
    </form>



