{% extends "b3theme/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
   {% block sidenav %}{% endblock %}
   {% block extraheadbottom %}
<style>
	@media (min-width: 768px) {
		#page-wrapper {
		    border-left: none;
		    margin: 0;
		}
}
</style>
{% endblock %}

{% block title %}{% if error %}{% if inactive %}{% trans "Activation Pending" %}{% else %}{% trans "Error" %}{% endif %}{% endif %}{% endblock %}

{% block pagejsbottom %}
	<script type="text/javascript">
	$(document).ready(function(){
		$("#ttip").tooltip();
		});
	</script>
{% endblock %}

{% block contentplaceholder %}
       <div class="container">
       <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% if error %}{% if inactive %}{% trans "Activation Pending" %}{% else %}{% trans "Error" %}{% endif %}{% endif %}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                	<div class="panel  {% if error %}{% if inactive %}panel-primary{% else %}panel-danger{% endif %}{% endif %}">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> {% if error %}{% if inactive %}{% trans "Activation Pending" %}{% else %}{% trans "Error" %}{% endif %}{% endif %}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        						<div class="alert {% if missing_attributes %}alert-danger{% else %}alert-info{% endif %}">
					{% if missing_attributes %}
						<p>{% trans "One or more required shibboleth attributes were not released towards this service" %}</p>
						{% endif %}
						<p>{% autoescape off %}{{error}}{% endautoescape %}</p>
						{% if missing_attributes %}
						<p>
						{% trans "Required shibboleth attributes" %}:<br>
						<ul>
						<li>eduPersonPrincipalName</li>
						<li>mail</li>
						<li>eduPersonEntitlement</li>
						</ul>
						{% trans "Optional" %}:
						<ul>
						<li>givenName</li>
						<li>sn</li>
						</ul>
						</p>
						{% endif %}
					</div>
                        	</div>
                        </div>
                       </div>
                      </div>
                     </div>
				
	{% endblock %}




