{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if error %}{% if inactive %}{% trans "Activation Pending" %}{% else %}{% trans "Error" %}{% endif %}{% endif %}{% endblock %}

{% block extrahead %}
	<script type="text/javascript">
	$(document).ready(function(){
		$(".relogin").tooltip({ position: "bottom center", opacity: 0.7});
		});
	</script>
	<style type="text/css">

	    .tooltip {
	        display: none;
	        background: transparent url(/static/black_arrow_updown.png);
	        font-size: 12px;
	        height: 70px;
	        width: 160px;
	        padding: 25px;
			padding-top: 30px;
	        color: #fff;
	    }

</style>

{% endblock %}

{% block content %}
	{% if error %}{% if inactive %}<h2>{% trans "Activation Pending" %}</h2>{% else %}<h2>{% trans "Error" %}</h2>{% endif %}{% endif %}
	<div>
	{% if missing_attributes %}
	<p>{% trans "One or more required shibboleth attributes were not released towards this service" %}</p>
	{% endif %}
	<p {% if not inactive %}style="color: red;"{% endif %}>{% autoescape off %}{{error}}{% endautoescape %}</p>
	{% if missing_attributes %}
	<p>
	{% trans "Required shibboleth attributes" %}:<br>
	<ul>
	<li>HTTP_EPPN</li>
	<li>HTTP_SHIB_HOMEORGANIZATION</li>
	<li>HTTP_SHIB_INETORGPERSON_MAIL</li>
	<li>An appropriate HTTP_SHIB_EP_ENTITLEMENT</li>
	</ul>
	{% trans "Optional" %}:
	<ul>
	<li>HTTP_SHIB_INETORGPERSON_GIVENNAME</li>
	<li>HTTP_SHIB_PERSON_SURNAME</li>
	</ul>
	</p>
	{% endif %}
	</div>
{% endblock %}
