{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if error %}{% if inactive %}{% trans "Activation Pending" %}{% else %}{% trans "Error" %}{% endif %}{% endif %}{% endblock %}

{% block extrahead %}
	<script type="text/javascript">
	$(document).ready(function(){
		$("#ttip").tooltip();
		});
	</script>
{% endblock %}

    {% block content %}
	<div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        </div><!--/span-->

		<div class="span10">
			<div class="row-fluid">
				<!--/span-->
				{% if error %}{% if inactive %}<h3 class="muted">{% trans "Activation Pending" %}</h3>{% else %}<h3 class="muted">{% trans "Error" %}</h3>{% endif %}{% endif %}
				<hr><br>
					
					<div class="span10 alert {% if missing_attributes %}alert-error{% else %}alert-info{% endif %}">
					{% if missing_attributes %}
						<p>{% trans "One or more required shibboleth attributes were not released towards this service" %}</p>
						{% endif %}
						<p>{% autoescape off %}{{error}}{% endautoescape %}</p>
						{% if missing_attributes %}
						<p>
						{% trans "Required shibboleth attributes" %}:<br>
						<ul>
						<li>eduPersonPrincipalName</li>
						<li>mail</li>
						<li>eduPersonEntitlement</li>
						</ul>
						{% trans "Optional" %}:
						<ul>
						<li>givenName</li>
						<li>sn</li>
						</ul>
						</p>
						{% endif %}
					</div>
				<!--/span-->
			</div><!--/row-->
		</div><!--/span-->

        </div><!--/span-->
    </div><!--/.fluid-container-->
	{% endblock %}
