{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}


<style type="text/css">
	#console {
		background: none repeat scroll 0 0 #36102a !important;
		color: #edeae8 !important;
		font-family: monospace !important;
	}
	.message {
		font-family: monospace !important;
	}
	.tooltip {
	display:none;
	background:transparent url(/fodstatic/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}
	
</style>
{% endblock %}
{% block title %}{% trans "Terms of Service" %}{% endblock %}
{% block breadcrumbs %}<li class="active"><span class="divider">/</span>{% trans "Terms of Service" %}</li>{% endblock %}
{% block content %}
{% csrf_token %}
<div>

{% blocktrans %}The FoD service is provided by GRNET to the academic and research community and the use of the service should only be done to promote academic, educational and research purposes.
The following terms apply to all users of the service. These terms of use, as applicable, and each time amended, constitute the contract between the service users and GRNET.
To use the service, users are required to accept the following terms.{% endblocktrans %}
    <h3>{% trans "Potential Users" %}</h3>
{% blocktrans %}The service is targeted at the Network Operation Centers (or similar structures) approved by the board of GRNET SA, participating in the federal identification using Shibboleth. The service is provided to mitigate network attacks aimed at network equipment. The entrance and use of the service requires proper configuration and release of specific Shibboleth attributes.{% endblocktrans %}
</div>
{% endblock %}
