{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My profile" %}{% endblock %}
{% block content %}
<h3>{% trans "My profile" %}</h3>

<div id="profile">
	{% trans "My data" %}:<br>
	<strong>{% trans "First name" %}:</strong> {{user.first_name}} <br>
	<strong>{% trans "Last name" %}:</strong> {{user.last_name}} <br>
	<strong>{% trans "Email" %}:</strong> {{user.email}}<br>
	<strong>{% trans "Organization" %}:</strong> {{peer}} <br>
	<strong>{% trans "Admin Networks" %}:</strong> <br>
	{% for network in peer.networks.all %}
	{{network}}<br>
	{% empty %}
    <span style="color:red">{% blocktrans %}Ooops! Seems you have no networks associated with your peer. Contact Helpdesk to resolve this issue.{% endblocktrans %}</span>
	{% endfor %}

</div>



{% endblock %}
