{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My profile" %}{% endblock %}
{% block breadcrumbs %} <li class="active"><span class="divider">/</span>{% trans "My profile" %}</li>{% endblock %}
{% block content %}
<h4>{% trans "My profile" %}</h4>
<br>
<div id="profile">
    <div class="row">
    	<div class="span2"><strong>{% trans "Username" %}:</strong></div>
    	<div class="span8">{{user.username}}</div>
    </div>
    <div class="row">
    	<div class="span2"><strong>{% trans "First name" %}:</strong></div>
    	<div class="span8">{{user.first_name}}</div>
    </div>
    <div class="row">
    	<div class="span2"><strong>{% trans "Last name" %}:</strong></div>
    	<div class="span8">{{user.last_name}}</div>
    </div>
    <div class="row">
    	<div class="span2"><strong>{% trans "Email" %}:</strong></div>
    	<div class="span8">{{user.email}}</div>
    </div>
    </div>
    <br>
    <div>
    <div class="row">
    	<div class="span2"><strong>{% trans "My Networks" %}:</strong></div>
    	<div class="span8"></div>
    </div>
	<table class="table table-striped table-bordered">
	<thead>
	<tr>
	<th>{% trans "Organization" %}</th><th>{% trans "Networks" %}</th>
	</tr>
	</thead>
	{% for peer in peers %}
		<tr>
		<td>{{peer}} </td>
		<td>
		{% for network in peer.networks.all %}
		{{network}}<br>
		{% empty %}
	    <span style="color:red">{% blocktrans %}Ooops! Seems you have no networks associated with your peer. Contact Helpdesk to resolve this issue.{% endblocktrans %}</span>
		{% endfor %}
		</td></tr>
	{% endfor %}
	</table>
</div>

{% endblock %}



