{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My profile" %}{% endblock %}
{% block content %}
<h3>{% trans "My profile" %}</h3>

<div id="profile">
	My data:<br>
	<strong>First name:</strong> {{user.first_name}} <br>
	<strong>Last name:</strong> {{user.last_name}} <br>
	<strong>Email:</strong> {{user.email}}<br>
	<strong>Organization:</strong> {{peer}} <br>
	<strong>Admin Networks:</strong> <br>
	{% for network in peer.networks.all %}
	{{network}}<br>
	{% endfor %}

</div>



{% endblock %}
