{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}
			{% block contentplaceholder %}
			<div id="content" class="container">
				<div class="hero-unit" style="text-align:center"><h2>GRNET - Firewall on Demand</h2>
				<p>
					<iframe width="640" height="360" src="https://www.youtube.com/embed/VZy7DG8sjSk?rel=0" frameborder="0" allowfullscreen></iframe>			
				</p>
				
				<p>{% blocktrans %}Welcome to GRNET's FoD service.{% endblocktrans %}</p>
				</div>
				<div class="row-fluid">
				<div class="span4 well"><h3>{% trans "What" %}?</h3><hr>
				<p>{% blocktrans %}If you are new to the service, take some time to read the{% endblocktrans %} <a href="/info/{{LANGUAGE_CODE}}/">{% trans "Service Description" %}</a></p>
				<p>{% blocktrans %}Before asking why? take some time to look at the{% endblocktrans %} <a href="/tos/{{LANGUAGE_CODE}}/">{% trans "Service Terms" %}</a></p>
				
				</div>
				<div class="span4 well"><h3>{% trans "How" %}?</h3><hr>
				<p>{% blocktrans %}If you have properly set your Shibboleth attributes, you may proceed{% endblocktrans %}</p>
				<div style="text-align: center;">
					<a href="{% url login %}">
					<img src="/fodstatic/shib_login.png" style="border:none;">
					<p>{% trans "Shibboleth Login" %}</p>
				</a>
	
</div>
				</div>
				<div class="span4 well"><h3>{% trans "Help" %}?</h3><hr>
				<p>
				<p>{% blocktrans %}For troubleshooting info and remarks do not hesitate to contact GRNET's Helpdesk.{% endblocktrans %}</p>
				</p>
				</div>
</div>

			</div>
			{% endblock %}